.gifLoading{    
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.home{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 60px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}